<div class="content">
  <div class="calendar table-responsive">
    <div class="header">
      <h1 class="current-week-title"> {{currentWeek[0]| date}} - {{currentWeek[6]| date}}</h1>
    </div>
      <table class="table">
      <thead>
        <tr class="days-color-grid">
          <th>Monday</th>
          <th>Tuesday	</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>

        </tr>
      </thead>
      <tbody *ngFor="let event of events" >
        <tr>
          <td><b *ngIf="event.day=='Monday'" (click)="showDetails(event)">
            <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td>

          <td><b *ngIf="event.day=='Tuesday'" (click)="showDetails(event)">
            <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td>

          <td><b *ngIf="event.day=='Wednesday'" (click)="showDetails(event)">
            <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td>

          <td><b *ngIf="event.day=='Thursday'" (click)="showDetails(event)">
            <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td>

          <td><b *ngIf="event.day=='Friday'" (click)="showDetails(event)">
            <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td>

          <td><b *ngIf="event.day=='Saturday'" (click)="showDetails(event)">
            <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td>

          <td><b *ngIf="event.day=='Sunday'" (click)="showDetails(event)">
            <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
