mat-grid-tile {

  background-color: rgb(177, 177, 177);
}
.container{
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.calendar{
  width: 95%;
  margin: 0 auto;
  padding-top: 2%;
  padding-left: 2%;
}

