<div class="content">
  <div class="calendar table-responsive">
    <div class="header">
      <h1 class="current-week-title"> {{currentWeek[0]| date}} - {{currentWeek[6]| date}}</h1>
    </div>
      <table class="table">
      <thead>
        <tr class="days-color-grid">
          <th>Monday</th>
          <th>Tuesday	</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
      </thead>
      <tbody *ngFor="let planner of planners" >
        <tr>
          <td><b *ngIf="planner.dayOfWeek==1" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.classroom.name}}</div></b></td>

          <td><b *ngIf="planner.dayOfWeek==2" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.classroom.name}}</div></b></td>

          <td><b *ngIf="planner.dayOfWeek==3" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.classroom.name}}</div></b></td>

          <td><b *ngIf="planner.dayOfWeek==4" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.classroom.name}}</div></b></td>

          <td><b *ngIf="planner.dayOfWeek==5" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.classroom.name}}</div></b></td>

          <td><b *ngIf="planner.dayOfWeek==6" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.classroom.name}}</div></b></td>

          <td><b *ngIf="planner.dayOfWeek==0" (click)="showDetails(planner)">
            <!-- <div class="event">{{event.course.name}} - {{event.classroom.name}}</div></b></td> -->
            <div class="event">{{planner.course.name}} - {{planner.classroom.name}}</div></b></td>
        </tr>
    </tbody>
    </table>
    <button type="button" class="btn btn-dark" (click)="goToAddEvent()">Add Event</button>
    <button type="button" class="btn btn-dark button-align-right" (click)="goToCourses()">See Courses</button>
  </div>
</div>
