<div class="content">
  <div class="calendar table-responsive">
    <h1 class="current-week-title"> {{currentWeek[0]| date}} - {{currentWeek[6]| date}}</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Monday</th>
          <th>Tuesday	</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>

        </tr>
      </thead>
      <tbody *ngFor="let event of events" >
        <tr>
          <td><b *ngIf="event.day=='Monday'">{{event.course.name}}</b></td>
          <td><b *ngIf="event.day=='Tuesday'">{{event.course.name}}</b></td>
          <td><b *ngIf="event.day=='Wednesday'">{{event.course.name}}</b></td>
          <td><b *ngIf="event.day=='Thursday'">{{event.course.name}}</b></td>
          <td><b *ngIf="event.day=='Friday'">{{event.course.name}}</b></td>
          <td><b *ngIf="event.day=='Saturday'">{{event.course.name}}</b></td>
          <td><b *ngIf="event.day=='Sunday'">{{event.course.name}}</b></td>
        </tr>
    </tbody>
    </table>
  </div>

</div>
